<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>

<body>
    <%- include("./partials/headerHome")  %> 
    <main>
        <div>
        <% for(let p of producto) {%>
        <section>
            <br>
            <br>
            <div class="detalle">
                <div class="centrar">
                    <img  src="/imagenes/<%=p.imagen%>" alt="imagen de airpods">
                </div>
                <div class="centrar">
                        <h3> 
                           <p>
                             <%=p.nombre%>
                           </p>
                        </h3>
                    <br>
                    <span class="precio">$<%=p.precio%></span>
                    <span class="info-envio">0% OFF</span>
                    <br>
                    <p class="info-envio">1 Cuota</p>
                    <br>
                    <h6>Información de envío:</h6>
                    <p class="info-envio">Si lo pides en 24 horas lo estarás recibiendo en máximo tres días</p>
                    <br>
                    <form action="resultado.html" method="POST">
                        <select name="cantidad" class="cajon-cantidad">
                            <option name="cantidad" value=1>Cantidad:1</option>
                            <option name="cantidad" value=2>Cantidad:2</option>
                            <option name="cantidad" value=3>Cantidad:3</option>
                            <option name="cantidad" value=4>Cantidad:4</option>
                            <option name="cantidad" value=5>Cantidad:5</option>
                            <option name="cantidad" value=6>Cantidad:6</option>
                            <option name="cantidad" value=7>Cantidad:7</option>
                            <option name="cantidad" value=8>Cantidad:8</option>
                            <option name="cantidad" value=9>Cantidad:9</option>
                            <option name="cantidad" value=10>Cantidad:10</option>
                        </select>
                        <br>
                        <br>
                        <button type="submit" class="boton-producto"> Comprar</button>
                        <br>
                        <button type="submit" class="boton-producto"> Agregar al carrito</button>
                        <br>
                        
                        <!-- <a href="/products/edit/<%= producto.id %>" class="boton-producto">EDITAR PRODUCTO</a> -->
                    </form>
                    <button type="submit" class="boton-producto">
                        <a href="/productos/modificar/<%= p.id %>" class="boton-producto">Editar</a>
                    </button>
                </div>
            </div>

        </section>
        <br>
        <section>
                <h3 class="caracteristicas">Características del Producto</h3>
                <br>
            <div>
                <p class="descripcion"><%=p.caracteristicas%></p>
            </div>
        </section>
        <% }%>
    </div>
    </main>
    <footer>
        <div class="container_footer">
            <a href="#"><i class="fas fa-address-card"></i>Sobre Nosotros</a>
            <a href="#"><i class="fas fa-headset"></i>Ayuda</a>
            <a href="#"><i class="fas fa-truck"></i>Envios</a>
            <a href="#"><i class="fas fa-credit-card"></i>Medios de pago</a>
        </div>
    </footer>
        </section>
        <%- include("./partials/footer") %> 
    </div>
</body>
</html>