<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/headerHome") %>
            <main>
                <div class="Registro">
                    <h1>Editar Productos</h1>
                    <br>
                    <div class="imagen-usuario">
                        <img  src="/imagenes/<%=producto.imagen%>" alt="imagen de <%= producto.nombre %>">
                    </div>
                    <form action="/productos/modificar/<%=producto.id_product%>?_method=PUT" method="POST" enctype="multipart/form-data">
                        
                        <br>
                        <input type="text" placeholder="nombre" name="nombre" value="<%= producto.nombre %> ">
                        <br>
                        <input type="text" placeholder="precio" name="precio" value="<%= producto.precio %> ">
                        <br>
                        <input type="file" class="boton" name="imagen"> Seleccionar Imagen</button>
                        <br>
                        <input type="text" placeholder="caracteristicas" name="caracteristicas" value="<%= producto.caracteristicas %> ">
                        <br>
                        <button type="submit" class="boton"> Modificar </button>
                    </form>
                    <form action="/productos/borrar/<%= producto.id_product%>?_method=DELETE" method="POST" >
                        <button type="submit" class="boton"> Eliminar </button>
                    </form>
                   
                </div>

            </main> 
            <%- include("./partials/footer") %>
    </body>

</html>