<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/headerHome") %>
            <main>
                <div class="Registro">
                    <h1>Editar Productos</h1>
                    <br>
                    <form action="/productos/modificar/<%= use.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        
                        <br>
                        <input type="text" placeholder="nombre" name="nombre" value="<%= use.nombre %> ">
                        <br>
                        <input type="text" placeholder="precio" name="precio" value="<%= use.precio %> ">
                        <br>
                        <input type="file" class="boton" name="imagen"> Seleccionar Imagen</button>
                        <br>
                        <input type="text" placeholder="caracteristicas" name="caracteristicas" value="<%= use.caracteristicas %> ">
                        <br>
                        <button type="submit" class="boton"> Modificar </button>
                    </form>
                    <form action="/productos/borrar/<%= use.id %>?_method=DELETE" method="POST" >
                        <button type="submit" class="boton"> Eliminar </button>
                    </form>
                   
                </div>

            </main> 
            <%- include("./partials/footer") %>
    </body>

</html>