<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link class="ico-pestaña"rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Registro</title>
</head> -->
<%- include("./partials/head") %>
<body>
    <!-- <header>
        <div class="container">
            <nav>
                <a class="menu" href="">
                    <div class="bars_menu">
                        <span class="linea1_bars-menu"></span>
                        <span class="linea2_bars-menu"></span>
                        <span class="linea3_bars-menu"></span>
                    </div>
                </a>
                <a class="logo" href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
                <div class="boton_carrito">
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
        </div>
    </header> -->
    <%- include("./partials/headerHome")  %> 
    <main>
        <div class="Registro">
            <div id="errores"></div>
            <h1>Crear Productos</h1>
            <br>
            <form action="/productos/crear" method="POST" enctype="multipart/form-data">
            <label for="nombre">Ingresa el nombre del producto</label>
            <input type="text" placeholder="nombre" name="nombre" id="nombre"
            value="<%= locals.oldData ? oldData.nombre : null %>">
            
            <% if(locals.errors && errors.nombre){ %> 
                <div class="text-danger">
                    <%= errors.nombre.msg  %> 
                </div>
                <% } %>
                <br>
            <label for="precio">Ingresa el precio del Producto</label>
            <input type="text" placeholder="precio" name="precio" id="precio"
            value="<%= locals.oldData ? oldData.precio : null %>">
            <% if(locals.errors && errors.precio){ %> 
                <div class="text-danger">
                    <%= errors.precio.msg  %> 
                </div>
                <% } %>
                <br>
                <input type="file" name="fotoProducto" id="fotoProducto">
                <% if(locals.errors && errors.fotoProducto){ %> 
                    <div class="text-danger">
                        <%= errors.fotoProducto.msg  %> 
                    </div>
                    <% } %>
                <br>
                <label for="caracteristicas">Ingresa las caracteristicas del Producto</label>
                <input type="text" placeholder="caracteristicas" name="caracteristicas" id="caracteristicas"
                value="<%= locals.oldData ? oldData.caracteristicas : null %>">
            
            <% if(locals.errors && errors.caracteristicas){ %> 
                <div class="text-danger">
                    <%= errors.caracteristicas.msg  %> 
                </div>
                <% } %>
            <br>
            <br>
            <button type="submit" class="boton"> Crear</button>
        </form>
        </div>

  </main>  
  <!-- <footer>
    <div class="container_footer">
        <a href="#"><i class="fas fa-address-card"></i>Sobre Nosotros</a>
        <a href="#"><i class="fas fa-headset"></i>Ayuda</a>
        <a href="#"><i class="fas fa-truck"></i>Envios</a>
        <a href="#"><i class="fas fa-credit-card"></i>Medios de pago</a>
    </div>
</footer> -->
<script src="/scripts/formCreacion.js"></script>
<%- include("./partials/footer") %> 
</body>
</html>