<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/headerHome") %>
            <main>
                <div class="Registro">
                    <h1>Editar Usuario</h1>
                    <br>
                    <div class="imagen-usuario">
                        <img  src="/imagenes/<%=usu.imagen%>" alt="imagen de <%= usu.nombre %> ">
                    </div>
                    <form action="/users/editar/<%=usu.id_user%>?_method=PUT" method="POST" enctype="multipart/form-data">
                        
                        <br>
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <input type="text" placeholder="nombre" name="nombre" value="<%= usu.nombre %> " id="nombreUsuario">
                        <br>
                        <label for="apellidoUsuario">Apellido de Usuario</label>
                        <input type="text" placeholder="apellido" name="apellido" value="<%= usu.apellido %> " id="apellidoUsuario">
                        <br>
                        <label for="telefonoUsuario">Telefono de Usuario</label>
                        <input type="text" placeholder="telefono" name="telefono" value="<%= usu.telefono %> " id="telefonoUsuario">
                        <br>
                        <label for="emailUsuario">Email de Usuario</label>
                        <input type="text" placeholder="email" name="email" value="<%= usu.email %> " id="emailUsuario">
                        <br>
                        <label for="imagenUsuario">Imagen de Usuario</label>
                        <input type="file" class="boton" name="imagen" id="imagenUsuario"> Seleccionar Imagen</button>
                        <br>
                        <button type="submit" class="boton"> Modificar </button>
                    </form>
                    <form action="/users/borrar/<%= usu.id_user%>?_method=DELETE" method="POST" >
                        <button type="submit" class="boton"> Eliminar </button>
                    </form>
                   
                </div>

            </main> 
            <%- include("./partials/footer") %>
    </body>

</html>